body{
    padding-bottom: 200px;
    padding-top: 200px;
    padding-left: 150px;
    padding-right: 150px;

}
.container{
    width: 100vw;
    height: 100vh;
    align-items: center;
}

h3{
    border: none;
}

.principal *{
    border: none;
}